@font-face {
    font-family: 'MyCustomFont'; /* 이 이름은 나중에 사용하게 됩니다 */
    src: url("../images/SUIT-Medium.ttf"); /* 여기서 'path/to/font/file.ttf'는 실제 업로드한 폰트 파일의 경로를 사용해야 합니다 */
}

body {
    overflow-y: scroll;
}

#app {
    font-family: Avenir, Helvetica, Arial, MyCustomFont sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
    width: 100%;
    overflow-x: auto !important;

}
.ant-typography {
    font-family: MyCustomFont sans-serif !important;
}
.ant-menu-item-selected {

}
.ant-menu {
    font-family: MyCustomFont sans-serif !important;
}
.ant-breadcrumb {
    font-family: MyCustomFont sans-serif !important;
}
.ant-layout {
    font-family: MyCustomFont sans-serif !important;
}
.ant-btn {
    font-family: MyCustomFont sans-serif !important;
}
.ant-segmented {
    font-family: MyCustomFont sans-serif !important;
}


img {
    display: block;
}
.typoSytle {
    font-size: 20px;
}
.charaImage {
    width: 270px;
    object-fit: contain;
}

.charaImageAln {
    width: 220px;
    object-fit: contain;
}

.typoMargin {
    margin-left: 320px;
}

.typoMarginAln {
    margin-left: 270px;
}

.turnaroundImage {
    width: 90%;
    object-fit: contain;
}

.contactForm {
    width: 80%;
    height: 40px;
    margin: 20px auto;
}

@media screen and (max-width: 1400px) {
    .charaExplain {
        flex-direction: column !important;
    }

    .typoMargin {
        margin-left: 50px;
    }

    .typoMarginAln {
        margin-left: 50px;
    }
}

@media screen and (max-width: 1120px) {
    .verticalSider {
        display: none !important;
    }
    .horizontalSider {
        visibility: visible !important;
        background-color: white !important;
    }
    .charaContent {
        margin-top: 80px;
    }
}

@media screen and (max-width: 850px) {
    .charaImage {
        width: 150px;
    }
    .charaImageAln {
        width: 120px;
    }
    .logo {
        display: none;
    }

}

@media screen and (max-width: 700px) {
    .charaImage {
        width: 100px;
    }
    .charaImageAln {
        width: 90px;
    }
    .segmented {
        width: 340px !important;
    }
    .ant-segmented-item-label {
        font-size: 11px !important;
    }
    .goodsCard {
        min-width: 350px !important;
        mix-width: 350px !important;
    }

    .header {
        display: block !important;
    }
}